body{
    background: url(" ../images/portada_paginaweb.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    width: 100%;
    margin-bottom: 50px;
    height: 100px;
    background: rgba(255, 248, 146, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px); 
  }

  .contenedor-glass {
    padding: 50px;
    max-width: 600px;
    background: rgba(255, 246, 192, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 1px solid rgba(255, 246, 192, 1);
  }
  