{% extends 'redSocialGatitesApp/base.html' %}
{% block title %}Inicio{% endblock %}

{% block extra_head %}

{% load static %}
<link rel="stylesheet" href="{% static 'redSocialGatitesApp/css/crearUsuario.css' %}">
{% endblock %}

{% block content %}
<div class="contenedor-glass">
  <form action="index" method="POST">
    {% csrf_token %}
    {{formulario.as_table}}
    <!-- <h1>Registra Tu Usuario</h1>
    <div>
      <label for="inputPrimerNombre" class="form-label">Primer nombre de le dueñe</label>
      <input type="text" class="form-control" name="primerNombre" id="inputPrimerNombre">
    </div>

    <div>
      <label for="inputApellido" class="form-label">Apellido de le dueñe</label>
      <input type="text" class="form-control" name="apellido" id="inputApellido">
    </div>

    <div>
      <label for="inputUsername" class="form-label">Nombre gatite (username)</label>
      <input type="text" class="form-control" name="username" id="inputUsername">
    </div>

    <div>
      <label for="inputEmail" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" name="email" id="inputEmail">
    </div>

    <div>
      <label for="inputPass" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="inputPass" name="password">
    </div> -->

    <input id="enviarInformacion" type="submit" value="Enviar">
    <a class="boton" href="index">Volver</a>

  </form>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}