{% extends 'redSocialGatitesApp/base.html' %}
{% block title %}Inicio{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'redSocialGatitesApp/css/index.css' %}">
{% endblock %}

{% block content %}

<div class="modal" id="miModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Inicio de sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="login" method="POST">
          {% csrf_token %}
          <div>
            <label for="username" class="form-label">Ingresa tu nombre de usuario</label>
            <input type="text" class="form-control" name="username" id="username">
          </div>
          <div>
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>

          <div>
            <button type="submit" id="btnVerificar">Ingresar</button>
          </div>
        </form>

        <a href="{% url 'crearUsuario' %}">¿No tienes cuenta? Regístrate</a>
      </div>
    </div>
  </div>
</div>

<div class="container contenedor-glass">
    <p>Bienvendies a Gatites donde cada ronroneo tiene su propia historia.</p>
  <button type="button" class="btn btn-primary" id="btnAbrirModal">
    Ingresar
  </button>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'redSocialGatitesApp/js/index.js' %}"></script>
{% endblock %}
